body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.desc {
    text-align: center;
    color: #5c5c5c;
    
}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(8, 0fr);
    grid-template-rows: repeat(8, 0fr);
    gap: 2px;
    margin: 20px auto;
}

.square {
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid #cccccc;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.light-square {
    background-color: #eed4aa;
}

.dark-square {
    background-color: #bd8d66;
}

.square:hover {
    background-color: #fff7eb;
}

#reset {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0885eb; 
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

#reset:hover {
    background-color: #449ce4;
}

.nav-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    gap: 5px;
    background-color: #adadad;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.nav-button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #5f5f5f; 
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.nav-button:hover {
    background-color: #c08b3b;
}

@media (max-width: 768px) {
    .board {
        max-width: 90vw;
        gap: 1px;
    }

    .square {
        width: 10vw;
        height: 10vw;
        font-size: 20px;
    }

    .nav-button {
        font-size: 15px;
        padding: 10px 10px;
    }

    .desc {
        font-size: 14px;
    }

    #title {
        font-size: 28px;
    }

    #results {
        font-size: 20px;
    }
    
}

@media (max-width: 500px) {
    .board {
        max-width: 80vw;
        gap: 1px;
    }

    .square {
        width: 9vw;
        height: 9vw;
        font-size: 16px;
    }
    
    .nav-button {
        font-size: 14px;
        padding: 7px 10px;
    }
    
    .desc {
        font-size: 12px;
    }

    #title {
        font-size: 24px;
    }

    #results {
        font-size: 16px;
    }
}

